<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KEX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KanjiVGKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MOGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>960B0740194851CA0072DA35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961AE4EF1900827C001903BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>966F4D9C18B5FCC2004EC50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>966F4DC018B5FCC2004EC50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E931F9194CE3EE009E0354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E93203194CE3EE009E0354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E93250194CEB61009E0354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E9325A194CEB61009E0354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
